---
import Layout from "../../layouts/Layout.astro";
import { getCollection, render } from "astro:content";
export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts.map((post) => ({
    params: { id: post.id },
    props: { post },
  }));
}
const { post } = Astro.props;
const { Content } = await render(post);
---

<Layout>
  <h1>{post.data.title}</h1>
  <Content />

  <h2>Tags</h2>
  <ul>
    {post.data.tags.map((tag) => <li>{tag}</li>)}
  </ul>
</Layout>
