---

---

<button
  id="menu"
  aria-expanded="false"
  aria-controls="main-menu"
  class="flex-wrap justify-center gap-10 rounded-full border border-blue-950/60 bg-slate-700/10 p-4 text-blue-200 shadow-md backdrop-blur-md sm:hidden">
  Menu
</button>
