---

---

<button
  id="menu"
  aria-expanded="false"
  aria-controls="main-menu"
  class="sm:hidden justify-center flex-wrap gap-10 p-4 shadow-md text-blue-300 border border-blue-950/60 rounded-full bg-slate-700/10 backdrop-blur-md"
>
  Menu
</button>

