<nav
  id="main-menu"
  class="hidden flex-col flex-wrap items-center gap-5 rounded-full border border-blue-950/60 bg-slate-700/10 p-4 text-blue-300 shadow-md backdrop-blur-md sm:flex sm:flex-row sm:gap-10">
  <a href="/" class="hover:text-amber-300 active:animate-ping active:text-amber-300">Home</a>
  <a href="/about/" class="hover:text-amber-300 active:animate-ping active:text-amber-300">About</a>
  <a href="/blog/" class="hover:text-amber-300 active:animate-ping active:text-amber-300">Blog</a>
</nav>
