<nav class="flex justify-center flex-wrap gap-10 p-4 shadow-md text-blue-300 border border-blue-950/50 rounded-full">
  <a href="/">Home</a>
  <a href="/about/">About</a>
  <a href="/blog/">Blog</a>
</nav>
